# Ignorování složek s cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorování prostředí virtuálního Pythonu
venv/
env/

# Ignorování souborů z IDE
.vscode/

# MkDocs build output
site/

# ZIP buildy
zip_build/

# Rozbalená ukázková data
sample_data/*.xml
*~
